
div.container-column {
    display: flex;
    flex-direction: column;
}

div.container-row {
    display: flex;
    flex-direction: row-reverse;
}

div.row {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
}

div.column {
    display: flex;
    flex-direction: column;
}

div.column-small {
    display: flex;
    flex-direction: column;
    width: 33.3%;
}

div.column-big {
    display: flex;
    flex-direction: column;
    width: calc(100% - 33.3%);
}

div.column-big a,
div.column-small a,
div.column a,
div.row a {
    transition: all 0.8s;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 640px;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

div.column-big a div.description,
div.column-small a div.description,
div.column a div.description,
div.row a div.description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

div.column-big a div.description:before,
div.column-small a div.description:before,
div.column a div.description:before,
div.row a div.description:before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.75);
    transition: all 0.6s;
}

div.column-big a div.description:after,
div.column-small a div.description:after,
div.column a div.description:after,
div.row a div.description:after {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.75);
    transition: all 0.6s;
}

div.column-big a div.description span,
div.column-small a div.description span,
div.column a div.description span,
div.row a div.description span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.8rem;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    transition-delay: 0s;
    white-space: nowrap;
}

div.column-big a:hover div.description span,
div.column-small a:hover div.description span,
div.column a:hover div.description span,
div.row a:hover div.description span {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
    transition-delay: 0.6s;
}

div.column-big a:hover div.description:before,
div.column-small a:hover div.description:before,
div.column a:hover div.description:before,
div.row a:hover div.description:before {
    top: 0;
}

div.column-big a:hover div.description:after,
div.column-small a:hover div.description:after,
div.column a:hover div.description:after,
div.row a:hover div.description:after {
    bottom: 0;
}

div.column-small a.large {
    height: 1280px;
}

div.column-big a.large {
    height: 1280px;
}

div.row div:hover:before {
    background-color: transparent;
}

a[href=""] {
    cursor: default;
}

@media only screen and (max-width: 1980px) {
    div.column-big a,
    div.column-small a,
    div.column a,
    div.row a {
        height: 32.5vw;
        background-size: 102% auto;
    }

    div.column-small a.large,
    div.column-big a.large {
        height: 65.5vw;
        background-size: 102% auto;
    }
}

/*Mobile Version*/

@media only screen and (max-width: 767px) {
    div.column-big a:hover div.description span,
    div.column-small a:hover div.description span,
    div.column a:hover div.description span,
    div.row a:hover div.description span {
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
        transition-delay: 0.6s;
    }

    div.column-big a div.description:before,
    div.column-small a div.description:before,
    div.column a div.description:before,
    div.row a div.description:before {
        display: none;
    }

    div.column-big a div.description:after,
    div.column-small a div.description:after,
    div.column a div.description:after,
    div.row a div.description:after {
        display: none;
    }
}