/*
	Home page
*/

body {
	margin: 0;
}

div.gallery {
	display: block;
	text-align: center;
}

div.gallery a.default {
	display: inline-block;
	vertical-align: top;
	width: 480px;
	height: auto;
}

div.gallery a.wide {
	display: inline-block;
	vertical-align: top;
	width: 960px;
	height: auto;
}

div.gallery a img {
	display: block;
	widows: 100%;
	height: auto;
}