/*
	Home page
*/

body {
	margin: 0;
}

header {
	display: block;
}

header div.top {
	display: none;
}

.menu-main-navigation-container {
	display: none;
}

div.gallery {
	position: relative;
}

div.row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

div.row div {
	transition: all 0.8s;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 460px;
	flex-grow: 1;
	position: relative;
}

div.row div:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.4);
	transition: all 0.8s;
}

div.row div:hover {
	flex-grow: 1.2;
}

body.open div.row div:hover {
	flex-grow: 1;
}

div.row div:hover:before {
	background-color: transparent;
}

div.row div.wide {
flex-grow: 2;
}

div.row div.wide:hover {
	flex-grow: 2.2;
}

body.open div.row div.wide:hover {
	flex-grow: 2;
}

div.row div.logo a {
	position: absolute;
	top: 0;
	left: -2px;
	z-index: 1000;
	width: 145px;
	height: 460px;
	overflow: hidden;
}

div.row div.logo a:after {
	content: '';
	position: absolute;
	-webkit-transform: translateX(-50%) rotate(45deg);
	transform: translateX(-50%) rotate(45deg);
	left: 50%;
	width: 25px;
	height: 25px;
	background-color: rgb(255, 255, 255);
	top: -12.5px;
	animation: arrow 0.5s linear 0s infinite alternate;
}

@keyframes arrow {
	from {
		top: -19px;
	}
	to {
		top: -12.5px;
	}
}

div.row div.logo a img {
	display: block;
	width: auto;
	position: absolute;
	left: 0;
	top: 0;
	height: 460px;
}

section.icons {
	background-color: black;
	padding: 5em 8em;
}

section.icons ul {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: center;
}

section.icons ul li {
	flex: 1;
	transition: 0.3s;
}

section.icons ul li svg {
	fill: rgb(255, 255, 255);
	width: auto;
	height: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.path {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	transition: all 6s;
	stroke-width: 1px;
}

section.icons ul li:first-of-type svg path {
	animation: animate 6s linear 0s infinite alternate;
}

section.icons ul li:nth-of-type(2) svg path {
	animation: animate 6s linear 1s infinite alternate;
}

section.icons ul li:nth-of-type(3) svg path {
	animation: animate 6s linear 2s infinite alternate;
}

section.icons ul li:nth-of-type(4) svg path {
	animation: animate 6s linear 3s infinite alternate;
}

section.icons ul li:nth-of-type(5) svg path {
	animation: animate 6s linear 4s infinite alternate;
}

section.icons ul li:nth-of-type(6) svg path {
	animation: animate 6s linear 5s infinite alternate;
}

@keyframes animate {
	0% {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		fill: white;
	}

	20% {
		stroke-dashoffset: 1000;
		stroke-dasharray: 800;
		fill: white;
	}

	50% {
		stroke-dashoffset: 100;
		stroke-dasharray: 600;
		fill: white;
	}

	100% {
		stroke-dashoffset: 10;
		stroke-dasharray: 500;
		fill: white;
	}
}

section.icons ul li h3 {
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: 1.5rem;
	line-height: 1.2;
	min-height: 3.5em;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1em;
	white-space: nowrap;
}

section.icons ul li span {
	display: block;
}

section.logos {
	padding: 3em 8em;
}

section.logos ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

section.logos ul li {
	width: 300px;
	transition: all 0.3s;
	margin-bottom: 1em;
	position: relative;
	border: 1px solid transparent;
	overflow: hidden;
}

@media only screen and (max-width: 1920px) {
	div.row div {
		background-size: cover;
		height: 24.5vw;
	}

	div.row div.logo a img {
		height: 24.5vw;
	}
}

@media only screen and (max-width: 1700px) {
	section.icons {
		padding: 5em 3em;
	}

	section.logos {
		padding: 3em 1em;
	}
}

/*Tablet*/
@media only screen and (max-width: 1367px) {
	section.logos,
	section.icons {
		padding: 5em 0em;
	}

	section.logos ul li {
		width: 200px;
	}

	#signup div.text, #signup div.image {
		margin: 0.5em;
	}
}

/* Mobile*/

@media only screen and (max-width: 767px) {
	header div.top {
		display: block;
	}

	.menu-main-navigation-container {
		display: block;
	}

	div.row {
		flex-wrap: wrap;
	}

	div.row div {
		background-size: 100% auto;
		height: 49.5vw;
		width: 50%;
	}

	div.row div:before {
		background-color: transparent;
	}

	div.row div.wide {
		order: 3;
	}

	div.row div.logo a {
		display: none;
	}

	section.icons {
		padding: 1em 0em;
	}
	section.icons ul {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		justify-content: normal;
		-webkit-overflow-scrolling: touch;
		flex-direction: row;
	}

	section.icons ul li {
		flex: 0 0 auto;
		width: 150px;
	}

	section.icons ul li h3 {
		font-size: 1rem;
		width: 100%;
		min-height: 1em;
		padding-bottom: 0em;
	}

	section.icons ul li svg {
		width: 80px;
	}

	.path {
		fill: white;
	}

	section.icons ul li:nth-of-type(6) svg path,
	section.icons ul li:nth-of-type(5) svg path,
	section.icons ul li:nth-of-type(4) svg path,
	section.icons ul li:nth-of-type(3) svg path,
	section.icons ul li:nth-of-type(2) svg path,
	section.icons ul li:first-of-type svg path {
		animation: none;
	}

	section.logos {
		padding: 0;
		padding-top: 1em;
	}

	section.logos ul {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		justify-content: normal;
	}

	section.logos ul li {
		width: 155px;
		transition: all 0.3s;
		margin-bottom: 1em;
		position: relative;
		border: 1px solid transparent;
		overflow: hidden;
		flex: 0 0 auto;
	}
}